{% extends 'baseAdmin.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}
{% block body %}
    <h1>Logo creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}<br />
        <input type="submit" class="btn btn-info" value="Create" />
    {{ form_end(form) }}

{% endblock %}
