{% extends 'baseAdmin.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}
{% block body %}
    <h1>Productss Edit</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}<br />
        <label>Add another image:</label>

        <div id="form_file">
            <input type="file" id="buimage_largeImage" name="unites[anotherImage1]" /><br>
        </div>
        <input type="button" value="Click for more file form input" onClick="addInput('form_file', 'file_count');"><br ><br>
        <input type="hidden" value="1" name="unites[fileCount]" id="file_count"><br>
        <input type="submit" class="btn btn-info" value="Save Update" />
    {{ form_end(form) }}

            <br><a href="{{ path('unites_index') }}">Back to the list</a><br><br>

<script>
var counter = 1;
function addInput(divName, fileCount){
      var newdiv = document.createElement('div');
      newdiv.innerHTML = `<input type="file" id="buimage_largeImage" name="unites[anotherImage${counter + 1}]"/><br>`;
      document.getElementById(fileCount).value = `${counter + 1}`;
      document.getElementById(divName).appendChild(newdiv);
      counter++;
}
</script>
{% endblock %}
